@font-face {
    font-family: pageFont;
    src: url('../fonts/STIXTwoText-Medium.ttf'); 
}

:root{
--font-color: #ffffff;
--background-color: rgb(5, 20, 110);
}

body {
    background: var(--background-color);
    color: var(--font-color);
    font-family: pageFont, sans-serif;
    font-size: 20px;
}

